$_form-box-shadow: inset 0 1px 3px rgba(#000, 0.03);
$_form-box-shadow-focus: $_form-box-shadow, 0px 0px 1px rgba($action-color, 1);

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 600;
  margin-bottom: $small-spacing / 2;
  padding: 0;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: $small-spacing / 2;
}

input,
select,
textarea {
  display: block;
  font-family: $base-font-family;
  font-size: 16px;
}

#{$all-text-inputs} {
  appearance: none;
  background-color: $base-background-color;
  border: $base-border;
  border-radius: $base-border-radius;
  box-sizing: border-box;
  margin-bottom: 1.25rem;
  padding: 1rem .5rem 1rem .5rem;
  transition: all $base-duration--fast $base-timing;
  width: 100%;

  &:hover {
    border-color: shade($base-border-color, 20%);
  }

  &:focus {
    border-color: darken($action-color, 10%);
    box-shadow: $_form-box-shadow-focus;
    outline: none;

      &::placeholder {
        color: tint($base-font-color, 30%);
      }
  }

  &:disabled {
    background-color: shade($base-background-color, 5%);
    cursor: not-allowed;

    &:hover {
      border: $base-border;
    }
  }

  &::placeholder {
    color: tint($base-font-color, 40%);
    transition: all $base-duration $base-timing;

  }
}

textarea {
  resize: vertical;
}


[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: $small-spacing / 2;
}

[type="file"] {
  margin-bottom: $small-spacing;
  width: 100%;
}

select {
  margin-bottom: $small-spacing;
  width: 100%;
}

[type="checkbox"],
[type="radio"],
[type="file"],
select {
  &:focus {
    outline: $focus-outline;
    outline-offset: $focus-outline-offset;
  }
}
