ul,
ol {
  list-style-type: none;
  margin: 15px 0px 0px 0px;
  padding: 0;
}

dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

dd {
  margin: 0;
}

li {
  margin: 0 0 0.75em;
}

li a {
  color:$base-font-color;
  font-size:1.125em;
  padding: 0;
}

li a img{
  margin-left: -6px;
  margin-right: 15px;
  margin-bottom: -2px;
}
