body {
  background-color: #FAFAFA;
}

/************ General grid system elements*/
.flex--row{
  @include flex-row();
}

.flex--column{
  @include flex-column();
}

.flex--between{
  @include flex-between();
}

.container--full {
    @include grid-container();
    margin: 0px auto;
}

.container--large {
    @include grid-container();
    margin: 0px auto;
    max-width: 1280px;
}

.container--medium {
    @include grid-container();
    margin: 0px auto;
    max-width: 1044px;
}

.container--small {
    @include grid-container();
    margin: 0px auto;
    max-width: 768px;
}

section{
  @include flex-column();
  @include grid-column(12);
  text-align: center;

  @include grid-media($media--tablet) {
    @include flex-row();

    text-align: inherit;

  }

  @include grid-media($media--desktop) {

  }
}


.left{
  @include grid-media($media--landscape) {
    @include grid-column(10);
    @include grid-push(1);
}
  @include grid-media($media--tablet) {
    position: fixed;
    @include grid-column(5);
    @include grid-push(0);
    max-width: 290px;
  }
}

.right{
  @include grid-media($media--landscape) {
    @include grid-column(10);
    @include grid-push(1);
}

  @include grid-media($media--tablet) {
    @include grid-column(12);
    @include grid-push(5);
  }

  @include grid-media($media--desktop) {
    @include grid-column(12);
    @include grid-push(4);
  }

  @include grid-media($media--fullscreen) {
    @include grid-column(12);
    @include grid-push(4);
  }
}
