/************ General system elements*/
body {
  background-color: $light-gray;
}

.flex--row{
  @include flex-row();
}

.flex--column{
  @include flex-column();
}

.flex--between{
  @include flex-between();
}

.container--full {
    @include grid-container();
    margin: 0px auto;
}

.container--large {
    @include grid-container();
    margin: 0px auto;
    max-width: 1280px;
}

.container--medium {
    @include grid-container();
    margin: 0px auto;
    max-width: 1044px;
}

.container--small {
    @include grid-container();
    margin: 0px auto;
    max-width: 768px;
}

/************ General layout elements*/
section{
  @include flex-column();
  @include grid-column(12);
  text-align: center;

  @include grid-media($media--tablet) {
    @include flex-row();

    text-align: inherit;
  }

}

.left{
  @include grid-media($media--landscape) {
    @include grid-column(10);
    @include grid-push(1);
}
  @include grid-media($media--tablet) {
    position: fixed;
    @include grid-column(5);
    @include grid-push(0);
    max-width: 290px;
  }
}

.right{
  @include grid-media($media--landscape) {
    @include grid-column(10);
    @include grid-push(1);
}

  @include grid-media($media--tablet) {
    @include grid-column(8);
    margin-left: 330px;
  }
}

.card--footer{
  @include grid-media($media--tablet) {
    @include flex-column();

  }
}
/************ Custom layout elements*/
.card{
  @include flex-column();
  position: relative;
}

.card--section{
  position: inherit;
  padding-top: 1em;
  padding-bottom: 1em;
}

.card--title{
  & img{
    align-self: center;
    border-radius: 50%;
    box-shadow: $shadow-normal;
    -webkit-box-shadow: $shadow-normal;
    height: 150px;
  }

    &::before{
      content: " ";
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      height: 2px;
      bottom: 0;
      background: $light-gray;
  }
}

.card--main::before{
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    bottom: 0;
    background: $light-gray;
}
