/***** 3rd Party Components *****/
/*! Spectre.css v0.5.1 | MIT License | github.com/picturepan2/spectre */
.table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  text-align: left; }
  .table.table-striped tbody tr:nth-of-type(odd) {
    background: #f8f9fa; }
  .table tbody tr.active, .table.table-striped tbody tr.active {
    background: #f0f1f4; }
  .table.table-hover tbody tr:hover {
    background: #f0f1f4; }
  .table.table-scroll {
    display: block;
    overflow-x: auto;
    padding-bottom: .75rem;
    white-space: nowrap; }
  .table td,
  .table th {
    border-bottom: 0.05rem solid #e7e9ed;
    padding: 0.6rem 0.4rem; }
  .table th {
    border-bottom-width: 0.1rem; }

.form-group:not(:last-child) {
  margin-bottom: 0.4rem; }

fieldset {
  margin-bottom: 0.8rem; }

legend {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 0.8rem; }

.form-label {
  display: block;
  line-height: 1rem;
  padding: 0.4rem 0; }
  .form-label.label-sm {
    font-size: 0.7rem;
    padding: 0.2rem 0; }
  .form-label.label-lg {
    font-size: 0.9rem;
    padding: 0.5rem 0; }

.form-input {
  transition: all .2s ease;
  appearance: none;
  background: #fff;
  background-image: none;
  border: 0.05rem solid #caced7;
  border-radius: 0.1rem;
  color: #50596c;
  display: block;
  font-size: 0.8rem;
  height: 1.8rem;
  line-height: 1rem;
  max-width: 100%;
  outline: none;
  padding: 0.35rem 0.4rem;
  position: relative;
  width: 100%; }
  .form-input:focus {
    box-shadow: 0 0 0 0.1rem rgba(87, 85, 217, 0.2);
    border-color: #5755d9; }
  .form-input::placeholder {
    color: #acb3c2; }
  .form-input.input-sm {
    font-size: 0.7rem;
    height: 1.4rem;
    padding: 0.15rem 0.3rem; }
  .form-input.input-lg {
    font-size: 0.9rem;
    height: 2rem;
    padding: 0.45rem 0.6rem; }
  .form-input.input-inline {
    display: inline-block;
    vertical-align: middle;
    width: auto; }
  .form-input[type="file"] {
    height: auto; }

textarea.form-input {
  height: auto; }

.form-input-hint {
  color: #acb3c2;
  font-size: 0.7rem;
  margin-top: 0.2rem; }
  .has-success .form-input-hint, .is-success + .form-input-hint {
    color: #32b643; }
  .has-error .form-input-hint, .is-error + .form-input-hint {
    color: #e85600; }

.form-select {
  appearance: none;
  border: 0.05rem solid #caced7;
  border-radius: 0.1rem;
  color: inherit;
  font-size: 0.8rem;
  height: 1.8rem;
  line-height: 1rem;
  outline: none;
  padding: 0.35rem 0.4rem;
  vertical-align: middle;
  width: 100%; }
  .form-select[size], .form-select[multiple] {
    height: auto; }
    .form-select[size] option, .form-select[multiple] option {
      padding: 0.1rem 0.2rem; }
  .form-select:not([multiple]):not([size]) {
    background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%204%205'%3E%3Cpath%20fill='%23667189'%20d='M2%200L0%202h4zm0%205L0%203h4z'/%3E%3C/svg%3E") no-repeat right 0.35rem center/0.4rem 0.5rem;
    padding-right: 1.2rem; }
  .form-select:focus {
    box-shadow: 0 0 0 0.1rem rgba(87, 85, 217, 0.2);
    border-color: #5755d9; }
  .form-select::-ms-expand {
    display: none; }
  .form-select.select-sm {
    font-size: 0.7rem;
    height: 1.4rem;
    padding: 0.15rem 1.1rem 0.15rem 0.3rem; }
  .form-select.select-lg {
    font-size: 0.9rem;
    height: 2rem;
    padding: 0.45rem 1.4rem 0.45rem 0.6rem; }

.has-icon-left,
.has-icon-right {
  position: relative; }
  .has-icon-left .form-icon,
  .has-icon-right .form-icon {
    height: 0.8rem;
    margin: 0 0.35rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 0.8rem;
    z-index: 2; }

.has-icon-left .form-icon {
  left: 0.05rem; }
.has-icon-left .form-input {
  padding-left: 1.5rem; }

.has-icon-right .form-icon {
  right: 0.05rem; }
.has-icon-right .form-input {
  padding-right: 1.5rem; }

.form-checkbox,
.form-radio,
.form-switch {
  display: inline-block;
  line-height: 1rem;
  margin: 0.2rem 0;
  min-height: 1.2rem;
  padding: 0.2rem 0.4rem 0.2rem 1.2rem;
  position: relative; }
  .form-checkbox input,
  .form-radio input,
  .form-switch input {
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    width: 1px; }
    .form-checkbox input:focus + .form-icon,
    .form-radio input:focus + .form-icon,
    .form-switch input:focus + .form-icon {
      box-shadow: 0 0 0 0.1rem rgba(87, 85, 217, 0.2);
      border-color: #5755d9; }
    .form-checkbox input:checked + .form-icon,
    .form-radio input:checked + .form-icon,
    .form-switch input:checked + .form-icon {
      background: #f7a823;
      border-color: #f7a823; }
  .form-checkbox .form-icon,
  .form-radio .form-icon,
  .form-switch .form-icon {
    transition: all .2s ease;
    border: 0.05rem solid #caced7;
    cursor: pointer;
    display: inline-block;
    position: absolute; }
  .form-checkbox.input-sm,
  .form-radio.input-sm,
  .form-switch.input-sm {
    font-size: 0.7rem;
    margin: 0; }
  .form-checkbox.input-lg,
  .form-radio.input-lg,
  .form-switch.input-lg {
    font-size: 0.9rem;
    margin: 0.3rem 0; }

.form-checkbox .form-icon,
.form-radio .form-icon {
  background: #fff;
  height: 0.8rem;
  left: 0;
  top: 0.3rem;
  width: 0.8rem; }
.form-checkbox input:active + .form-icon,
.form-radio input:active + .form-icon {
  background: #f0f1f4; }

.form-checkbox .form-icon {
  border-radius: 0.1rem; }
.form-checkbox input:checked + .form-icon::before {
  background-clip: padding-box;
  border: 0.1rem solid #fff;
  border-left-width: 0;
  border-top-width: 0;
  content: "";
  height: 12px;
  left: 50%;
  margin-left: -4px;
  margin-top: -8px;
  position: absolute;
  top: 50%;
  transform: rotate(45deg);
  width: 8px; }
.form-checkbox input:indeterminate + .form-icon {
  background: #5755d9;
  border-color: #5755d9; }
  .form-checkbox input:indeterminate + .form-icon::before {
    background: #fff;
    content: "";
    height: 2px;
    left: 50%;
    margin-left: -5px;
    margin-top: -1px;
    position: absolute;
    top: 50%;
    width: 10px; }

.form-radio .form-icon {
  border-radius: 50%; }
.form-radio input:checked + .form-icon::before {
  background: #fff;
  border-radius: 50%;
  content: "";
  height: 4px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 4px; }

.form-switch {
  padding-left: 2rem; }
  .form-switch .form-icon {
    background: #e7e9ed;
    background-clip: padding-box;
    border-radius: 0.45rem;
    height: 0.9rem;
    left: 0;
    top: 0.25rem;
    width: 1.6rem; }
    .form-switch .form-icon::before {
      transition: all .2s ease;
      background: #fff;
      border-radius: 50%;
      content: "";
      display: block;
      height: 0.8rem;
      left: 0;
      position: absolute;
      top: 0;
      width: 0.8rem; }
  .form-switch input:checked + .form-icon::before {
    left: 14px; }
  .form-switch input:active + .form-icon::before {
    background: #f8f9fa; }

.input-group {
  display: flex; }
  .input-group .input-group-addon {
    background: #f8f9fa;
    border: 0.05rem solid #caced7;
    border-radius: 0.1rem;
    line-height: 1rem;
    padding: 0.35rem 0.4rem;
    white-space: nowrap; }
    .input-group .input-group-addon.addon-sm {
      font-size: 0.7rem;
      padding: 0.15rem 0.3rem; }
    .input-group .input-group-addon.addon-lg {
      font-size: 0.9rem;
      padding: 0.45rem 0.6rem; }
  .input-group .form-input,
  .input-group .form-select {
    flex: 1 1 auto; }
  .input-group .input-group-btn {
    z-index: 1; }
  .input-group .form-input:first-child:not(:last-child),
  .input-group .form-select:first-child:not(:last-child),
  .input-group .input-group-addon:first-child:not(:last-child),
  .input-group .input-group-btn:first-child:not(:last-child) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0; }
  .input-group .form-input:not(:first-child):not(:last-child),
  .input-group .form-select:not(:first-child):not(:last-child),
  .input-group .input-group-addon:not(:first-child):not(:last-child),
  .input-group .input-group-btn:not(:first-child):not(:last-child) {
    border-radius: 0;
    margin-left: -0.05rem; }
  .input-group .form-input:last-child:not(:first-child),
  .input-group .form-select:last-child:not(:first-child),
  .input-group .input-group-addon:last-child:not(:first-child),
  .input-group .input-group-btn:last-child:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: -0.05rem; }
  .input-group .form-input:focus,
  .input-group .form-select:focus,
  .input-group .input-group-addon:focus,
  .input-group .input-group-btn:focus {
    z-index: 2; }
  .input-group .form-select {
    width: auto; }
  .input-group.input-inline {
    display: inline-flex; }

.has-success .form-input, .form-input.is-success,
.has-success .form-select, .form-select.is-success {
  border-color: #32b643; }
  .has-success .form-input:focus, .form-input.is-success:focus,
  .has-success .form-select:focus, .form-select.is-success:focus {
    box-shadow: 0 0 0 0.1rem rgba(50, 182, 67, 0.2); }
.has-error .form-input, .form-input.is-error, .has-error .form-select, .form-select.is-error {
  border-color: #e85600; }
  .has-error .form-input:focus, .form-input.is-error:focus, .has-error .form-select:focus, .form-select.is-error:focus {
    box-shadow: 0 0 0 0.1rem rgba(232, 86, 0, 0.2); }

.has-error .form-checkbox .form-icon, .form-checkbox.is-error .form-icon,
.has-error .form-radio .form-icon, .form-radio.is-error .form-icon,
.has-error .form-switch .form-icon, .form-switch.is-error .form-icon {
  border-color: #e85600; }
.has-error .form-checkbox input:checked + .form-icon, .form-checkbox.is-error input:checked + .form-icon,
.has-error .form-radio input:checked + .form-icon, .form-radio.is-error input:checked + .form-icon,
.has-error .form-switch input:checked + .form-icon, .form-switch.is-error input:checked + .form-icon {
  background: #e85600;
  border-color: #e85600; }
.has-error .form-checkbox input:focus + .form-icon, .form-checkbox.is-error input:focus + .form-icon,
.has-error .form-radio input:focus + .form-icon, .form-radio.is-error input:focus + .form-icon,
.has-error .form-switch input:focus + .form-icon, .form-switch.is-error input:focus + .form-icon {
  box-shadow: 0 0 0 0.1rem rgba(232, 86, 0, 0.2);
  border-color: #e85600; }

.form-input:not(:placeholder-shown):invalid {
  border-color: #e85600; }
  .form-input:not(:placeholder-shown):invalid:focus {
    box-shadow: 0 0 0 0.1rem rgba(232, 86, 0, 0.2); }
  .form-input:not(:placeholder-shown):invalid + .form-input-hint {
    color: #e85600; }

.form-input:disabled, .form-input.disabled,
.form-select:disabled,
.form-select.disabled {
  background-color: #f0f1f4;
  cursor: not-allowed;
  opacity: .5; }

.form-input[readonly] {
  background-color: #f8f9fa; }

input:disabled + .form-icon, input.disabled + .form-icon {
  background: #f0f1f4;
  cursor: not-allowed;
  opacity: .5; }

.form-switch input:disabled + .form-icon::before, .form-switch input.disabled + .form-icon::before {
  background: #fff; }

.form-horizontal {
  padding: 0.4rem 0; }
  .form-horizontal .form-group {
    display: flex;
    flex-wrap: wrap; }

.modal {
  align-items: center;
  bottom: 0;
  display: none;
  justify-content: center;
  left: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0.4rem;
  position: fixed;
  right: 0;
  top: 0; }
  .modal:target, .modal.active {
    display: flex;
    opacity: 1;
    z-index: 400; }
    .modal:target .modal-overlay, .modal.active .modal-overlay {
      background: rgba(248, 249, 250, 0.75);
      bottom: 0;
      cursor: default;
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0; }
    .modal:target .modal-container, .modal.active .modal-container {
      animation: slide-down .2s ease 1;
      max-width: 640px;
      width: 100%;
      z-index: 1;
      padding: 1em;
      border-top: 6px solid #f7a823;
      border-radius: 0.3em; }
  .modal.modal-sm .modal-container {
    max-width: 320px;
    padding: 0 0.4rem; }
  .modal.modal-lg .modal-overlay {
    background: #fff; }
  .modal.modal-lg .modal-container {
    box-shadow: none;
    max-width: 960px; }

.modal-container {
  box-shadow: 0 0.2rem 0.5rem rgba(69, 77, 93, 0.3);
  background: #fff;
  border-radius: 0.1rem;
  display: block;
  padding: 0 0; }
  .modal-container .modal-header {
    padding: 0.8rem;
    border: 10px #f7a823; }
  .modal-container .modal-body {
    max-height: 50vh;
    overflow-y: auto;
    padding: 0.8rem;
    position: relative; }
  .modal-container .modal-footer {
    padding: 0.8rem;
    text-align: right; }

@keyframes loading {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-1.6rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

/*
 * Slider
 */
.hamburger--slider .hamburger-inner {
  top: 2px; }
  .hamburger--slider .hamburger-inner::before {
    top: 10px;
    transition-property: transform, opacity;
    transition-timing-function: ease;
    transition-duration: 0.15s; }
  .hamburger--slider .hamburger-inner::after {
    top: 20px; }
.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--slider.is-active .hamburger-inner::before {
    transform: rotate(-45deg) translate3d(-5.7142857143px, -6px, 0);
    opacity: 0; }
  .hamburger--slider.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(-90deg); }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

button, [type='button'], [type='reset'], [type='submit'],
.button {
  appearance: none;
  background-color: #d50032;
  border: 0;
  border-radius: 0.5em;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 1.5rem;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  letter-spacing: .02rem;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:focus, [type='button']:focus, [type='reset']:focus, [type='submit']:focus,
  .button:focus {
    outline: 3px solid rgba(213, 0, 50, 0.6);
    outline-offset: 2px; }
  button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled,
  .button:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, [type='button']:disabled:hover, [type='reset']:disabled:hover, [type='submit']:disabled:hover,
    .button:disabled:hover {
      background-color: #d50032; }

.button--primary {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  color: #fff;
  transition: 180ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, box-shadow, transform; }
  .button--primary:focus {
    background-color: #ef0038;
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    color: #fff;
    transform: translateY(-2px); }
  .button--primary:hover {
    background-color: #ef0038;
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    color: #fff;
    transform: translateY(-2px); }
  .button--primary:active {
    outline: 0;
    transform: translateY(1px);
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.04), 0 1px 3px rgba(0, 0, 0, 0.04); }

.button--try {
  border: 0.07em solid #d50032;
  background-color: transparent;
  color: #d50032;
  transition: 180ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-color, color; }
  .button--try:focus {
    color: #ef0038;
    border-color: #ef0038; }
  .button--try:hover {
    color: #ef0038;
    border-color: #ef0038; }
  .button--try:active {
    outline: 0; }

.button--text {
  background-color: transparent;
  border: 0;
  color: #444;
  padding: 0.4rem;
  transition: 180ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color; }
  .button--text:focus {
    background-color: inherit;
    color: #d50032; }
  .button--text:hover {
    background-color: inherit;
    color: #d50032; }
  .button--text:active {
    outline: 0; }

.button--hamburger {
  background-color: transparent;
  color: #444; }
  .button--hamburger:focus {
    background-color: inherit;
    color: #d50032; }
  .button--hamburger:hover {
    background-color: inherit;
    color: #d50032; }
  .button--hamburger:active {
    outline: 0; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select,
textarea {
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 16px; }

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea {
  appearance: none;
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 0.5em;
  box-sizing: border-box;
  margin-bottom: 1.25rem;
  padding: 1rem .5rem 1rem .5rem;
  transition: all 180ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%; }
  [type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover {
    border-color: #7a7a7a; }
  [type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus {
    border-color: #a20026;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.03), 0px 0px 1px #d50032;
    outline: none; }
    [type='color']:focus::placeholder, [type='date']:focus::placeholder, [type='datetime']:focus::placeholder, [type='datetime-local']:focus::placeholder, [type='email']:focus::placeholder, [type='month']:focus::placeholder, [type='number']:focus::placeholder, [type='password']:focus::placeholder, [type='search']:focus::placeholder, [type='tel']:focus::placeholder, [type='text']:focus::placeholder, [type='time']:focus::placeholder, [type='url']:focus::placeholder, [type='week']:focus::placeholder, input:not([type]):focus::placeholder, textarea:focus::placeholder {
      color: #7c7c7c; }
  [type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    [type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
      border: 1px solid #999; }
  [type='color']::placeholder, [type='date']::placeholder, [type='datetime']::placeholder, [type='datetime-local']::placeholder, [type='email']::placeholder, [type='month']::placeholder, [type='number']::placeholder, [type='password']::placeholder, [type='search']::placeholder, [type='tel']::placeholder, [type='text']::placeholder, [type='time']::placeholder, [type='url']::placeholder, [type='week']::placeholder, input:not([type])::placeholder, textarea::placeholder {
    color: #8f8f8f;
    transition: all 280ms cubic-bezier(0.4, 0, 0.2, 1); }

textarea {
  resize: vertical; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 0.75em;
  width: 100%; }

[type="checkbox"]:focus,
[type="radio"]:focus,
[type="file"]:focus,
select:focus {
  outline: 3px solid rgba(213, 0, 50, 0.6);
  outline-offset: 2px; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html,
body {
  height: 100%; }

body {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

html {
  color: #444;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  font-size: 1.25em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

h1 {
  color: #2B2B2B;
  font-size: 2.5em;
  font-weight: 700; }
  @media (min-width: 768px) {
    h1 {
      font-size: 3em; } }
  @media (min-width: 1024px) {
    h1 {
      font-size: 3.5em; } }

h2,
h3 {
  color: #2B2B2B;
  font-weight: 700;
  font-size: 1.8em;
  margin: 2px 0 10px; }
  @media (min-width: 768px) {
    h2,
    h3 {
      font-size: 2.16em; } }
  @media (min-width: 1024px) {
    h2,
    h3 {
      font-size: 2.52em; } }

h5 {
  color: #d50032;
  font-size: 16px;
  margin: 0 0 .5em; }

p {
  font-size: 1.125em;
  margin: 0 0 .5em; }

.meta {
  color: #444;
  text-transform: uppercase;
  opacity: 0.5; }
  #recent-posts .meta {
    font-size: 0.95em; }

a {
  color: #000;
  text-decoration: none;
  text-decoration-skip: ink;
  transition: color 280ms cubic-bezier(0.4, 0, 0.2, 1); }
  a:hover {
    color: #d50032; }
  a:focus {
    outline: 3px solid rgba(213, 0, 50, 0.6);
    outline-offset: 2px; }

hr {
  border-bottom: 1px solid #999;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

/***** Custom Layout Styles *****/
body {
  background-color: #FAFAFA; }

.flex--column {
  align-items: center;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  min-height: 100%; }

/*# sourceMappingURL=styles.css.map */
